{% extends 'comun.html' %}

{% block central %}

    <h2 id="titulo">Introduzca una nueva receta aquí<h2>
    <h6>Debe rellenar todos los campos del siguiente formulario</h6>
    <h6>Para añadir elementos en formato de lista (por ejemplo, los ingredientes)
    debe introducir ";" entre los distintos elementos</h6>

    <form action="" method="POST" class="formulario" enctype="multipart/form-data">
        <label> Título 
            <input type="text" name="titulo" value='{{ datostitulo }}'/>
        </label>

        <label> Categoría 
            {% for tipo in tipos %}
                <label>{{ tipo }}<input type="checkbox" name={{ tipo }}/></label>
            {% endfor %}
        </label>

        <label> Descripción 
            <textarea name="ingredientes" cols="24">
                {{ datosdescripcion }}
            </textarea>
        </label>

        <label> Ingredientes 
            <textarea name="ingredientes" cols="24">
                {{ datosingredientes }}
            </textarea>
        </label>

        <label> Preparación 
            <textarea name="ingredientes" cols="24">
                {{ datospreparacion }}
            </textarea>
        </label>

        <input type="submit" name="anadir"/>
    </form>

{% endblock %}