{% extends 'comun.html' %}

{% block central %}

    {% if envio == confirmado %}
        <h2 id="titulo">Introduzca una nueva receta aquí<h2>
        <h6>Debe rellenar todos los campos del siguiente formulario</h6>
        <h6>Para añadir elementos en formato de lista (por ejemplo, los ingredientes)
        debe introducir "#" entre los distintos elementos</h6>

        <form action="" method="POST" class="formulario">
            <label> Título 
                <input type="text" name="titulo"/>
            </label>

            <h3> Categoría </h3 >
                {% for tipo in tipos %}
                    <label>{{ tipo }}<input type="checkbox" name="categoria#{{ tipo }}"/></label>
                {% endfor %}

            <label> Descripción 
                <textarea name="descripcion" cols="24">
                </textarea>
            </label>

            <label> Ingredientes 
                <textarea name="ingredientes" cols="24">
                </textarea>
            </label>

            <label> Preparación 
                <textarea name="preparacion" cols="24">
                </textarea>
            </label>

            <input type="submit" name="anadir"/>
        </form>
    {% elseif hayerror.numeroelementos > 0 %}
        <h2 id="titulo">Datos erroneos<h2>
        <h6>Debe rellenar todos los campos del siguiente formulario</h6>
        <h6>Para añadir elementos en formato de lista (por ejemplo, los ingredientes)
        debe introducir "#" entre los distintos elementos</h6>

        <form action="" method="POST" class="formulario">
            <label> Título 
                <p class="error">{{ hayerror.titulo }}</p>
                <input type="text" name="titulo" value='{{ datos.titulo }}'/>
            </label>

            <h3> Categoría </h3 >
                {% for tipo in tipos %}
                    <label>{{ tipo }}<input type="checkbox" name="categoria#{{ tipo }}"/></label>
                {% endfor %}

            <label> Descripción 
                <p class="error">{{ hayerror.descripcion }}</p>
                <textarea name="descripcion" cols="24">
                    {{ datos.descripcion }}
                </textarea>
            </label>

            <label> Ingredientes 
                <p class="error">{{ hayerror.ingredientes }}</p>
                <textarea name="ingredientes" cols="24">
                    {{ datos.ingredientes }}
                </textarea>
            </label>

            <label> Preparación 
                <p class="error">{{ hayerror.preparacion }}</p>
                <textarea name="preparacion" cols="24">
                    {{ datos.preparacion }}
                </textarea>
            </label>

            <input type="submit" name="anadir"/>
        </form>
    {% elseif hayerror.numeroelementos == 0 %}
        {% if confirmado == true %}

        <h2>Envio realizado con éxito</h2>

        {% else %}

        <h2 id="titulo">¿Está seguro de que desea introducir esta información?<h2>
        <h6>Para añadir elementos en formato de lista (por ejemplo, los ingredientes)
        debe introducir "#" entre los distintos elementos</h6>

        <form action="" method="POST" class="formulario">
            <label> Título 
                <p class="error">{{ hayerror.titulo }}</p>
                <input type="text" name="titulo" value='{{ datos.titulo }}' disabled/>
            </label>

            <h3> Categoría </h3 >
                {% for tipo in tipos %}
                    <label>{{ tipo }}<input type="checkbox" name="categoria#{{ tipo }}" disabled/></label>
                {% endfor %}

            <label> Descripción 
                <p class="error">{{ hayerror.descripcion }}</p>
                <textarea name="descripcion" cols="24" disabled>
                    {{ datos.descripcion }}
                </textarea>
            </label>

            <label> Ingredientes 
                <p class="error">{{ hayerror.ingredientes }}</p>
                <textarea name="ingredientes" cols="24" disabled>
                    {{ datos.ingredientes }}
                </textarea>
            </label>

            <label> Preparación 
                <p class="error">{{ hayerror.preparacion }}</p>
                <textarea name="preparacion" cols="24" disabled>
                    {{ datos.preparacion }}
                </textarea>
            </label>

            <input type="submit" name="confirmar"/>
        </form>

        {% endif %}
    
    {% else %}

        <h2>Ha ocurrido un error</h2>
        <h6>Vuelva a intentarlo más tarde</h6>

    {% endif %}

{% endblock %}