{% extends "templateform.html" %}

{% block formulario %}

    <form action="" method="POST" class="formulario">
        <label>Nombre de la categoria
            {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
                <p class="error">{{ hayerror.nombreCategoria }}</p>
            {% endif %}

            <input type="text" name="nombreCategoria" 
                {% if envio != confirmacion %}
                    value={{ datos.nombreCategoria }}
                {% endif %}
                {% if hayerror.numeroelementos == 0 %}
                    disabled
                {% endif %}
            >
        </label>
        <input type="submit"
            {% if envio != confirmacion  and hayerror.numeroelementos == 0 %} 
                name="confirmar" 
            {% else %}
                name="enviar"
            {% endif %}
        value="Añadir">
    </form>

{% endblock %}