{% extends "templateform.html" %}

{% block formulario %}

<form action="" method="POST" class="formulario">
    <label> Título 
        {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
            <p class="error">{{ hayerror.titulo }}</p>
        {% endif %}
        <input type="text" name="titulo"
            {% if envio != confirmacion %}
                value="{{ datos.titulo }}"
            {% endif %}
            {% if hayerror.numeroelementos == 0 %}
                disabled
            {% endif %}
        />
    </label>

    <h3> Categoría </h3 >
        {% for tipo in tipos %}
            <label>{{ tipo.nombre }}<input type="checkbox" name="categoria#{{ tipo.id }}"
                value="categoria#{{ tipo.id }}"
                {% if envio != confirmacion %}
                    {% for aux in datos.categorias %}
                        {% if tipo.id == aux %}
                            checked
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if hayerror.numeroelementos == 0 %}
                    disabled
                {% endif %}
                />
            </label>
        {% endfor %}

    <label> Descripción 
        {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
            <p class="error">{{ hayerror.descripcion }}</p>
        {% endif %}
        <textarea name="descripcion" cols="24"
            {% if hayerror.numeroelementos == 0 %}
                disabled
            {% endif %}
        >
        {% if envio != confirmacion %}
            {{ datos.descripcion }}
        {% endif %}
        </textarea>
    </label>

    <label> Ingredientes 
        {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
            <p class="error">{{ hayerror.ingredientes }}</p>
        {% endif %}
        <textarea name="ingredientes" cols="24"
            {% if hayerror.numeroelementos == 0 %}
                disabled
            {% endif %}
        >
        {% if envio != confirmacion %}
            {{ datos.ingredientes }}
        {% endif %}
        </textarea>
    </label>

    <label> Preparación 
        {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
            <p class="error">{{ hayerror.preparacion }}</p>
        {% endif %}
        <textarea name="preparacion" cols="24"
            {% if hayerror.numeroelementos == 0 %}
                disabled
            {% endif %}
        >
        {% if envio != confirmacion %}
            {{ datos.preparacion }}
        {% endif %}
        </textarea>
    </label>

    <input type="submit"
        {% if envio != confirmacion and hayerror.numeroelementos == 0 %} 
            name="confirmar" 
        {% else %}
            name="anadir"
        {% endif %}
    value="Añadir">
</form>

{% endblock %}