{% extends "templateform.html" %}

{% block formulario %}

<form action="" method="POST" class="formulario">
    <label> Título 
        {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
            <p class="error">{{ hayerror.titulo }}</p>
        {% endif %}
        <input type="text" name="titulo" value="{{ datos.nombre }}"
            {% if hayerror.numeroelementos == 0 and envio != confirmacion %}
                disabled
            {% endif %}
        />
    </label>

    <h3> Categoría </h3 >
        {% for tipo in tipos %}
            <label>{{ tipo.nombre }}<input type="checkbox" name="categoria#{{ tipo.id }}"
                value="categoria#{{ tipo.id }}"
                {% for aux in categorias %}
                    {% if tipo.id == aux %}
                        checked
                    {% endif %}
                {% endfor %}
                {% if hayerror.numeroelementos == 0 and envio != confirmacion %}
                    disabled
                {% endif %}
                />
            </label>
        {% endfor %}

    <label> Descripción 
        {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
            <p class="error">{{ hayerror.descripcion }}</p>
        {% endif %}
        <textarea name="descripcion" cols="24"
            {% if hayerror.numeroelementos == 0 and envio != confirmacion %}
                disabled
            {% endif %}
        >
            {{ datos.descripcion }}
        </textarea>
    </label>

    <label> Ingredientes 
        {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
            <p class="error">{{ hayerror.ingredientes }}</p>
        {% endif %}
        <textarea name="ingredientes" cols="24"
            {% if hayerror.numeroelementos == 0 and envio != confirmacion %}
                disabled
            {% endif %}
        >
            {{ datos.ingredientes }}
        </textarea>
    </label>

    <label> Preparación 
        {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
            <p class="error">{{ hayerror.preparacion }}</p>
        {% endif %}
        <textarea name="preparacion" cols="24"
            {% if hayerror.numeroelementos == 0 and envio != confirmacion %}
                disabled
            {% endif %}
        >
            {{ datos.preparacion }}
        </textarea>
    </label>

    <input type="submit"
        {% if envio != confirmacion and hayerror.numeroelementos == 0 %} 
            name="confirmar" 
        {% else %}
            name="anadir"
        {% endif %}
    value="Modificar">
</form>

{% if envio == confirmacion %}

    <h2 id="titulo">Añada las fotos que desee aquí</h2>
    <h6>La primera foto corresponderá a la cabecera, y las demás a fotos de 
        los distintos pasos.
    </h6>

    <ul>
        {% for foto in fotos %}
        
            <li>
                <img src="{{ foto.fichero }}" width="250"/>
                <form action="" method="POST" class="formulario">
                    <input type="submit" name="eliminafoto#{{foto.id}}" value="Borrar"/>
                </form>
            </li>
        {% endfor %}
    </ul>

    <form action="" method="POST" class="formulario" enctype="multipart/form-data">
        <input type="file" name='foto'/>
        <input type="submit" value="Añadir foto seleccionada" name="anadirfoto"/>
    </form>
{% endif %}

{% endblock %}