{% extends "templateform.html" %}

{% block formulario %}

<form action="" method="POST" class="formulario" enctype="multipart/form-data">
    <label> Fotografía 
            {% if datos.foto %}
            <img src="data:image/jpeg;base64,{{ datos.foto }}" width="250"/>
            {% endif %}
            {% if hayerror.numeroelementos != 0 or envio == confirmacion %}
            <input type="file" name="foto"/>    
            {% endif %}
    </label>

    <label> Nombre 
        {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
            <p class="error">{{ hayerror.nombre }}</p>
        {% endif %}
        <input type="text" name="nombre" value="{{ datos.nombre }}"
            {% if hayerror.numeroelementos == 0 %}
                disabled
            {% endif %}
        />
    </label>

    <label> Apellidos 
        {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
            <p class="error">{{ hayerror.apellidos }}</p>
        {% endif %}
        <input type="text" name="apellidos" value="{{ datos.apellidos }}"
            {% if hayerror.numeroelementos == 0 %}
                disabled
            {% endif %}
        />
    </label>

    <label> Email 
        {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
            <p class="error">{{ hayerror.email }}</p>
        {% endif %}
        <input type="email" name="email" value="{{ datos.email }}"
            {% if hayerror.numeroelementos == 0 %}
                disabled
            {% endif %}
        />
    </label>
    
    {% if hayerror.numeroelementos > 0 or envio == confirmacion %}
    <label> Clave 
        {% if hayerror.numeroelementos > 0 and envio != confirmacion %}
            <p class="error">{{ hayerror.clave }}</p>
        {% endif %}
        <input type="password" name="clave"/> 
        <input type="password" name="clave2"/>
    </label>
    {% endif %}

    {% if permisos == 2 %}
        <label>Tipo
            <select name="tipo">
                <option value="Colaborador"
                {% if datos.tipo == "Colaborador" %}
                    selected
                {% endif %}
                {% if hayerror.numeroelementos == 0 %}
                    disabled
                {% endif %}
                >Colaborador</option>

                <option value="Administrador"
                {% if datos.tipo == "Administrador" %}
                    selected
                {% endif %}
                {% if hayerror.numeroelementos == 0 %}
                    disabled
                {% endif %}
                >Administrador</option>
            </select>
        </label>
    {% endif %}
    
    <input type="submit"
        {% if envio != confirmacion and hayerror.numeroelementos == 0 %} 
            name="confirmado" 
        {% else %}
            name="envio"
        {% endif %}
    value="Editar Usuario">
</form>

{% endblock %} 