/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  border-radius: 3%;
    border: blue solid; */

/*Reglas generales*/
html{
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;
    flex-flow: row; */
}

ul li{
    list-style: none;
}

main{
    width: 70%;
    padding: 2%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: beige;
    line-height: 130%;
}

aside{
    float: right;
    width: 25%;
}

/*Reglas para el encabezado*/
.titulo{
    background-color: rgb(66, 170, 62);
    display: flex;
    flex-flow: row;
    padding-left: 3%;
}

.titulo img{
    width: 10%;
}

.titulo h1{
    font-size: 320%;
    margin-left: 5%;
    margin-top: 3%;
}

/*Reglas para la barra de navegación*/
.barraNavegacion{
    background-color:rgb(146, 207, 76);
}

.barraNavegacion ul{
    width: 35%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0.75% 1%;
    margin-top: 0.5%;
}

.barraNavegacion ul li{
    font-weight: bold;
}

/*Reglas para imagenes*/

.iconos{
    width: 3%;
}

.fotosPasos{
    width: 100%;
}  

#valoracion{
    width: 10%;
}

#fotoFinal{
    width: 30%;
}

/*Reglas para la zona de la receta*/

#cabeceraReceta{
    background-color: rgb(66, 170, 62);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1% 0.5%;
    font-size: larger;
}

#subcabecera{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    font-size: small;
    font-style: italic;
    
    padding: 0% 1%;
    margin-bottom: 2%;
    width: 100%;
}

#descripcion{
    background-color: rgb(146, 207, 76);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 1%;
}

#descripcion p{
    width: 70%;
    margin-right: 2%;
}

#preparacion{
    padding: 1%;
} 

#ingredientes{
    background-color:gainsboro;
    float: right;

    width: 30%;
    padding: 1%;
    margin-left: 2%;
}

#preparacion ol li{
    margin-bottom: 1%;
}

#imagenesPasos{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-left: 10%;
}

#imagenesPasos li{
    width: 15%;
    padding: 1%;
}

.comentario{
    width: 100%;
    background-color: lightcoral;
    margin-bottom: 1%;
    padding: 0.5%;
    padding-left: 1%;
    color: blueviolet;
}

.comentario p{
    color: black;
}

#barraInferior{
    background-color:  rgb(66, 170, 62);
    display: flex;
    justify-content: flex-end;
}

#barraInferior *{
    padding: 0.5%;
}

#barraInferior :nth-child(5){
    margin-right: 3%;
}

.lateral{
    background-color: rgb(248, 191, 199);
    margin-top: 5%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}

.lateral h3{
    background-color: gold;
    font-weight: bold;
    font-size: larger;
    padding:2%;
    width: 100%;
}

.lateral form{
    width: 80%;
    align-self: center;
}
