/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  border-radius: 3%;
    border: blue solid; */

/*Reglas generales*/
html{
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    list-style: none;
}

main{
    width: 70%;
    padding: 2%;
    
    display: flex;
    flex-direction: column;

    background-color: beige;
    line-height: 130%;
}

aside{
    float: right;
    width: 25%;
}

/*Regla para una imagen*/

img {
    max-width: 100%;
    height: auto;
}

/*Regla para listas ordenadas*/

ol > li{
    margin-bottom: 1%;
    list-style: decimal;
    list-style-position: inside;
}

/*Reglas para el encabezado*/
.titulo{
    background-color: rgb(66, 170, 62);
    display: flex;
    flex-direction: row;
    padding-left: 3%;
}

.titulo img{
    width: 10%;
}

.titulo h1{
    font-size: 320%;
    margin-left: 5%;
    align-self: center;
}

/*Reglas para la barra de navegación*/

.barraNavegacion{
    background-color:rgb(146, 207, 76);
    
    display: flex;
    flex-direction: row;

    margin-top: 0.5%;
    padding: 0.5%;
    
    font-weight: bold;
}

.barraNavegacion > *{
    margin-left: 2%;
}

/*Reglas para la zona de la receta*/

.cabeceraReceta{
    background-color: rgb(66, 170, 62);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    font-size: larger;

    padding: 1% 0.5%;
}

.cabeceraReceta > :last-child{
    flex-basis: 10%;
}

.subcabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: small;
    font-style: italic;
    
    margin-bottom: 2%;
    width: 100%;
}

.descripcion{
    background-color: rgb(146, 207, 76);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;

    padding: 1%;
}
 
.descripcion > :last-child{
    margin-left: 1%;
    flex-basis: 160%;
} 

.preparacion{
    padding: 2% 0.5%;
} 

.ingredientes{
    background-color:gainsboro;
    padding: 1%;
    margin-left: 2%;
}

.imagenesPasos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    padding: 0% 2%;
}

.imagenesPasos > *{
    flex-basis: 15%;
    margin: 1%;
}

.comentario{
    background-color: lightcoral;
    margin-bottom: 1%;
    padding: 0.5%;
    padding-left: 2%;
}

.comentario > :first-child{
    color: blueviolet;
}

.barraInferior{
    background-color:  rgb(66, 170, 62);
    display: flex;
    justify-content: flex-end;
}

.barraInferior > *{
    padding: 0.5%;
    flex-basis: 5%;
}

.barraInferior > :nth-child(5){
    margin-right: 3%;
}

.lateral{
    background-color: rgb(248, 191, 199);
    margin-top: 5%;
}

.lateral > * {
    padding: 3%;
}

.lateral > :first-child{
    background-color: gold;
    font-weight: bold;
    font-size: larger;
}

.formulario{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
}

.entrada > :last-child{
    margin-left: 0.25%;
    
}

.footer{
    background-color: rgb(66, 170, 62);
    padding: 1% 0%;
    padding-left: 2%;
}

@media (max-width: 800px){
    .titulo{
        font-size: x-small;
        font-weight: normal;
        align-items: center;
    }

    .titulo :nth-of-type(even){
        width: 15%;
    }
    .titulo :nth-child(odd){
        width: 0%;
    }

    .ingredientes{
        width: 100%;
    }
}